# Best Pittsburgh Neighborhood Based on the Air Quality

In [2]:
import pandas as pd

air_quality = pd.read_csv("/ihome/cmpinf0010_2025f/mar879/Final Project-mar879/allegheny_air_quality.csv")

air_quality.head()

,_id,datetime_est,site,parameter,is_valid,report_value,unit,unit_description,highest_flag,aqs_parameter_category
0,1,2016-01-01T00:00:00,Lincoln,PM25,t,3.000,UG/M3,micrograms per cubic meter,NaN,Particulate
1,2,2016-01-01T00:00:00,Lincoln,PER_F2,t,67.000,PERCENT,Percent,NaN,NaN
2,3,2016-01-01T00:00:00,Liberty,SO2,t,0.001,PPM,Parts Per Million,C,Criteria Pollutants
3,4,2016-01-01T00:00:00,Liberty,SONICWS,t,6.900,MPH,miles per hour,NaN,Meteorological
4,5,2016-01-01T00:00:00,Liberty,SONICWD,t,259.000,DEG,Degrees,NaN,Meteorological

In [3]:
pm25 = air_quality[air_quality["parameter"] == 'PM25']

In [4]:
pm25_avg = pm25.groupby('site')['report_value'].mean().reset_index()

In [5]:
pm25_avg = pm25_avg.sort_values('report_value')

In [6]:
pm25_avg.head(10)

        site  report_value
0  Liberty 2     10.231669
1    Lincoln     13.532303

In [8]:
pm25 = air_quality[air_quality["parameter"].str.contains("PM2.5|PM25", case=False, na=False)]

pm25_summary = pm25.groupby('site')['report_value'].agg(Avg_PM25 = 'mean', Min_PM25 = 'min', Max_PM25 = 'max', Count = 'count').reset_index()

pm25_summary = pm25_summary.sort_values('Avg_PM25')

pm25_summary['Rank'] = range(1, len(pm25_summary)+1)

pm25_summary = pm25_summary[['Rank', 'site', 'Avg_PM25', 'Min_PM25', 'Max_PM25', 'Count']]

pm25_summary = pm25_summary[pm25_summary['site'] != 'Lawrenceville 2']

pm25_summary = pm25_summary.sort_values('Avg_PM25')  

pm25_summary['Rank'] = range(1, len(pm25_summary) + 1)

pm25_summary

   Rank           site    Avg_PM25  Min_PM25  Max_PM25  Count
0     1         Avalon    9.884336     -13.0      77.0  32188
5     2   Parkway East   10.558216      -2.0     109.0  26101
4     3        Lincoln   13.532303      -2.0     162.0  25106
3     4      Liberty 2   21.974244      -2.0     172.0  88211
1     5  Lawrenceville  425.240377      -2.0     917.0  51594

## Conclusion: 
In my notebook, I started by loading the Allegheny County air quality dataset and filtered it to only include the PM2.5 data. This is because the PM2.5 is the most common type of measurement to evaluate air pollution. Then I categorized the data by the site, the average PM value, the minimum and maximum values, and the total number of measurements. I then ranked the and arranged the sites based on the measurements. Lastly, I cleaned up the data that was inaccurate or not helpful. 

The average PM2.5 levels in the sample were comparatively low when compared to a number of other neighborhoods, despite East Liberty not being ranked #1 in the air quality rankings. This shows that East Liberty's air quality was still at a level that suggests favorable overall environmental conditions, even though it did not place at the top of the list. East Liberty  consistently fared well in several areas, not just one, when paired with the other datasets. As a result, East Liberty was chosen as the best neighborhood overall based on the final data of all sets rather than just one.

### Best Neighborhood is Avalon.